body {
  background: #222;
  color: #222;
}

.screen {
  background: #fdfdfd;
  display: none;
  cursor: default;
  margin: 0;
  padding; 0;
  overflow: hidden;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
